<div fxLayout="row" fxLayoutAlign="space-between" class="task">
  <mat-action-list fxFlex>
    <div mat-subheader *ngIf="groupedTasks.today">Today</div>
    <mat-divider *ngIf="groupedTasks.today"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.today"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.yesterday">Yesterday</div>
    <mat-divider *ngIf="groupedTasks.yesterday"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.yesterday"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.thisWeek">This Week</div>
    <mat-divider *ngIf="groupedTasks.thisWeek"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.thisWeek"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.lastWeek">Last Week</div>
    <mat-divider *ngIf="groupedTasks.lastWeek"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.lastWeek"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.thisMonth">This Month</div>
    <mat-divider *ngIf="groupedTasks.thisMonth"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.thisMonth"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.lastMonth">Last Month</div>
    <mat-divider *ngIf="groupedTasks.lastMonth"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.lastMonth"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.quarter">Quarter</div>
    <mat-divider *ngIf="groupedTasks.quarter"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.quarter"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.lastQuarter">Last Quarter</div>
    <mat-divider *ngIf="groupedTasks.lastQuarter"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.lastQuarter"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.thisYear">This Year</div>
    <mat-divider *ngIf="groupedTasks.thisYear"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.thisYear"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
    <div mat-subheader *ngIf="groupedTasks.older">Older</div>
    <mat-divider *ngIf="groupedTasks.older"></mat-divider>
    <app-task
      *ngFor="let task of groupedTasks.older"
      [task]="task"
      (openTask)="openTask($event)"
      (deleteTask)="delete($event)"
      (completeTask)="complete($event)"
      (uncompleteTask)="uncomplete($event)"
    >
    </app-task>
  </mat-action-list>
  <div class="task-details" *ngIf="selectedTask" fxFlex="50">
    <app-details [task]="selectedTask" (closeTask)="closeTask()"></app-details>
  </div>
</div>
