.details {
  padding-left: 10px;
  &--title {
    padding-left: 16px;
    padding-top: 16px;
    color: gray;
    font-size: 1rem;
  }
  &--content {
    .add-subtask {
      width: 100%;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

textarea:focus {
  outline: none !important;
}