<h1>Task: {{ task.name }}</h1>
<div class="details">
  <form #subTaskForm="ngForm" (ngSubmit)="addSubTask(subTaskForm)" novalidate>
    <mat-form-field appearance="fill" class="add-subtask">
      <mat-label>Add Sub-task</mat-label>
      <input
        matInput
        placeholder="New sub-task"
        id="subtask"
        [(ngModel)]="subTaskName"
        name="subtask"
        required
      />
    </mat-form-field>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-action-list fxFlex>
      <app-task
        *ngFor="let subtask of subtasks"
        [task]="subtask"
        (deleteTask)="delete($event)"
        (completeTask)="complete($event)"
        (uncompleteTask)="uncomplete($event)"
      >
      </app-task>
    </mat-action-list>
  </div>
</div>
