<div class="details w-full">
  <div class="flex flex-row">
    <mat-toolbar>
      <span>Task</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <p class="details--title">{{ task.name }}</p>
  <div class="details--content">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="task.description">
        {{ task.description }}
      </textarea>
    </mat-form-field>
    <form #subTaskForm="ngForm" (ngSubmit)="addSubTask(subTaskForm)" novalidate>
      <mat-form-field appearance="outline" class="add-subtask">
        <mat-label>Add Sub-task</mat-label>
        <input
          matInput
          placeholder="New sub-task"
          id="subtask"
          [(ngModel)]="subTaskName"
          name="subtask"
          required
        />
      </mat-form-field>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <mat-action-list fxFlex>
        <app-task
          *ngFor="let subtask of subtasks"
          [task]="subtask"
          [level]="1"
          (deleteTask)="delete($event)"
          (completeTask)="complete($event)"
          (uncompleteTask)="uncomplete($event)"
        >
        </app-task>
      </mat-action-list>
    </div>
  </div>
</div>
