<div fxLayout="row" fxLayoutAlign="start center">
  <button mat-stroked-button [matMenuTriggerFor]="menu">
    <mat-icon>filter_list</mat-icon><span>filter</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="applyFilter('ongoing')">
      <span>Ongoing</span>
    </button>
    <button mat-menu-item (click)="applyFilter('complete')">
      <span>Complete</span>
    </button>
  </mat-menu>
  <mat-chip-list class="filter-divider">
    <mat-chip
      *ngFor="let filter of filterList"
      removable="true"
      (removed)="filterRemoved(filter)">
      {{ filter}}
      <mat-icon matChipRemove>cancel</mat-icon></mat-chip
    >
  </mat-chip-list>
</div>
