.story {
  &-content {
    &-mvp {
      margin-bottom: 20px;
    }

    &-text {
      margin-top: 20px;
      width: 100%;
    }
  }

  &-header {
    &-avatar {
      font-size: 3em;
      color: rgb(0, 133, 221);
    }
  }
}
