<mat-card class="action-bar" *ngIf="note">
  <button
    *ngIf="!editMode"
    mat-flat-button
    color="primary"
    (click)="enableEdit()"
    class="action-button"
  >
    <mat-icon>edit</mat-icon>
    <span>EDIT</span>
  </button>
  <button
    *ngIf="editMode"
    mat-flat-button
    (click)="save()"
    color="primary"
    class="action-button"
  >
    <mat-icon>save</mat-icon>
    <span>SAVE</span>
  </button>
  <button
    color="primary"
    mat-flat-button
    class="action-button"
    (click)="archive()"
  >
    <mat-icon>archive</mat-icon>
    <span>ARCHIVE</span>
  </button>
  <button
    *ngIf="editMode"
    mat-flat-button
    (click)="cancelEdit()"
    color="primary"
    class="action-button"
  >
    <mat-icon>undo</mat-icon>
    <span>DISCARD</span>
  </button>
</mat-card>
