<mat-card>
  <mat-card-subtitle>List of stories</mat-card-subtitle>
  <mat-card-content>
    <form #form="ngForm" (ngSubmit)="addStory(form)">
      <mat-form-field class="story-form" appearance="outline">
        <mat-label>Enter story</mat-label>
        <input
          matInput
          placeholder="New story"
          id="story"
          ngModel
          name="story"
        />
      </mat-form-field>
    </form>
    <div class="story-list" *ngIf="stories && stories.length > 0">
      <mat-selection-list
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [multiple]="false"
        #storyList
        (selectionChange)="selectionChanged($event)"
        (click)="onListClick()"
      >
        <mat-list-option
          *ngFor="let story of stories; index as i"
          cdkDrag
          [value]="story"
          (mouseenter)="mouseEnter($event, i)"
          (mouseleave)="mouseLeave($event, i)"
          class="story-item"
        >
          <div fxLayout="row" fxLayoutAlign="center" class="story-item">
            <div>
              <p>{{ story.title }}</p>
            </div>
            <div fxFlex></div>
            <div>
              <button
                mat-icon-button
                (click)="edit($event, story)"
                *ngIf="showMenu(i)"
              >
                <mat-icon matListIcon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                (click)="delete($event, story)"
                *ngIf="showMenu(i)"
              >
                <mat-icon matListIcon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </div>
  </mat-card-content>
</mat-card>
