<mat-action-list>
  <div mat-subheader>Todo</div>
  <mat-list-item *ngFor="let todo of todoData" routerLink="{{ todo.route }}">
    <span>
      <mat-icon class="material-icons--outlined">{{ todo.icon }}</mat-icon>
    </span>
    {{ todo.name }}
  </mat-list-item>
  <div mat-subheader>Epics</div>
  <mat-list-item *ngFor="let epic of epicsData" routerLink="{{ epic.route }}">
    <span>
      <mat-icon class="material-icons--outlined">{{ epic.icon }}</mat-icon>
    </span>
    {{ epic.name }}
  </mat-list-item>
  <div mat-subheader>Notes</div>
  <mat-list-item *ngFor="let note of notesData" routerLink="{{ note.route }}">
    <span>
      <mat-icon class="material-icons-outlined">{{ note.icon }}</mat-icon>
    </span>
    {{ note.name }}
  </mat-list-item>
</mat-action-list>
