<div
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="10px"
  class="note-search"
>
  <app-note-search-bar class="note-search-bar"></app-note-search-bar>
</div>
<app-note-action-bar #actionBar [note]="note" (action)="noteAction($event)"></app-note-action-bar>
<div *ngIf="note" class="note" fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="note.title"
      [disabled]="!actionBar.editMode"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of note.tags"
        [selectable]="actionBar.editMode"
        [removable]="actionBar.editMode"
        (removed)="remove(tag)"
      >
        {{ tag }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="New tag..."
        #tagInput
        [disabled]="!actionBar.editMode"
        [formControl]="tagCtrl"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field
    *ngIf="actionBar.editMode"
    appearance="outline"
    class="note-description"
  >
    <mat-label>Note description</mat-label>
    <textarea
      matInput
      placeholder="Enter note description"
      rows="20"
      [(ngModel)]="note.description"
    ></textarea>
  </mat-form-field>
  <markdown
    *ngIf="note.description && !actionBar.editMode"
    [data]="note.description"
  ></markdown>
  <p *ngIf="!note.description && !actionBar.editMode">Enter note description</p>
</div>
