.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  flex: 1;
}

.main-nav {
  width: 280px;
  border-right: 1px solid black;
}

.content {
  width: 100%;
}
