<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content class="h-full">
    <app-header></app-header>
    <div class="flex flex-col flex-auto">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<div class="wrapper">
  <div class="main-nav">
    <mat-toolbar>Menu</mat-toolbar>
    <app-nav-menu></app-nav-menu>
  </div>
  <div class="content-wrapper">
    <app-header></app-header>
    <div class="content">
      <router-outlet></router-outlet>
      <!-- <div class="main-content">Content</div> -->
      <!-- <div class="nav-content">Nav panel</div> -->
    </div>
  </div>
</div>
